@import "~@vrbo/styling/scss/mixins";
@import "~@vrbo/styling/scss/variables";

.property-card {
  @include createPropertyCardSizes();

  @include addDisplayResponsive();

  &__carousel {
    height: pixel-to-rem(180);

    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }

  &__title {
    @include headingSmallBold();

    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    &-container {
      min-height: pixel-to-rem(50);
    }
  }

  &__details {
    @include addDisplayResponsive();

    &-small-text {
      @include textSmallRegular();
    }

    &--title {
      @include textBaseRegular();

      &-container {
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }

    &--value {
      color: map_get($colors, "grey-800");
      font-size: $font-size-big;
      font-weight: $font-weight-bold;
      line-height: $line-height-small;
      padding: pixel-to-rem(10);
    }
  }

  &__price {
    @include headingSmallBold();
  }

  &__sub-text {
    @include textBaseRegular();
  }

  &__rating {
    color: map_get($colors, "green");
  }
}
