html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

[class*="col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
